@{
    ViewData["Title"] = "Home Page";
}
<style>


    #Personal-container {
        margin-top: 30px;
        display: grid;
        background-color: #343a40;
        grid-template-columns: 1fr;
        gap: 30px;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }

    #Personal-container h1{
        margin:0 auto;
        color:#fff;

    }

        #Personal-container p {
           
            color: #fff;
        }
    </style>
  <div id="Personal-container">
   
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to the Lecturer Claim Portal! This platform has been designed to help you easily and securely submit your lesson coordination details to claim your rightful payments. We understand the important role you play in delivering quality education, and this system is here to ensure you are properly rewarded for your hard work and dedication.</p>

    <p>Whether you coordinate one lesson or many, our user-friendly portal makes the claim process straightforward and efficient. If you ever have questions or need assistance, our dedicated support team is just a message away, ready to provide you with prompt help and guidance.</p>

    <p>Thank you for being an essential part of our academic community. We truly value your commitment and look forward to supporting you every step of the way.</p>

<p> </p>
</div>
